<% var data = {

  title: 'Zelberg',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--mx flex align-center bg-green relative overflow-hidden" data-theme="light">
  <div class="bg-block pointer-none">
    <img class="main__lines absolute w-100" src="img/pictures/lines.svg" alt="">
  </div>
  <div class="main__content flex align-center justify-between gap-10 gap-md-5 relative w-100">
    <div class="main__info flex flex-column color-white w-100">
      <h1 class="font-alt text-42 text-sm-34 color-cream bold-6 lh-2 mb-4 duration-5 anim anim--up -scroll-">Fit - Out под ключ <br class="d-md-none"> с гарантией качества</h1>
      <p class="text-16 bold-4 lh-4 fade-80 mb-10 mb-md-5 duration-5 delay-1 anim anim--up -scroll-">
        Выполнение общестроительных и отделочных работ, поставка материалов, производство и профессиональный монтаж систем фальшпола, офисных перегородок и подвесных потолков.
      </p>
      <p class="font-alt text-20 text-md-16 bold-5 lh-4 mb-6 mb-md-4 duration-5 delay-2 anim anim--up -scroll-">Интересны наши услуги? Свяжитесь с нами!</p>
      <form class="main__form form flex-row align-end gap-2 gap-sm-5 duration-5 delay-3 anim anim--up -scroll- -form-submit-">
        <input type="hidden" value="Главная" name="theme">
        <label class="form-label w-sm-100 -validate-">
          <span class="text-16 bold-5 mb-2">Ваш номер телефона</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input -input-tel- -validate-input-" type="tel" placeholder="+7" name="tel">
            </div>
            <span class="form-error anim anim--fade -validate-error-">Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="btn btn--second btn--lg btn--fill w-sm-100 -waved-" type="submit">Отправить</button>
      </form>
    </div>
    <div class="main__pic pic pic--rect w-100 duration-7 anim anim--down -scroll-">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader" />
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/main-img.webp" type="image/webp">
        <img class="pic__img pic__img--sd" src="img/pictures/main-img.png" alt="" loading="lazy">
      </picture>
    </div>
  </div>
</main>

<!-- Сервис -->

<section class="service container pb-0" id="service">
  <div class="card p-6 p-lg-10 p-sm-5">
    <div class="service__content card-content flex-row align-center gap-10 gap-md-5">
      <div class="service__pic pic pic--square bg-grey brs-6 w-100 anim anim--fade -scroll-">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader" />
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/service-img.webp" type="image/webp">
          <img class="pic__img pic__img--rise" src="img/pictures/service-img.jpg" alt="" loading="lazy">
        </picture>
      </div>
      <div class="flex flex-column pl-7 pl-lg-0">
        <h2 class="font-alt text-38 text-sm-26 bold-6 lh-5 mb-5 anim anim--up -scroll-">Монтаж системы фальшпола</h2>
        <p class="font-alt text-28 text-md-18 bold-5 mb-6 mb-md-4 anim anim--up -scroll-">500 ₽ / м<sup>2</sup></p>
        <ul class="listing gap-3 text-16 lh-5 mb-10 mb-md-5">
          <li class="anim anim--up -scroll-">Бизнес-центры и банки</li>
          <li class="anim anim--up -scroll-">Офисные помещения Open Space</li>
          <li class="anim anim--up -scroll-">Технические помещения</li>
          <li class="anim anim--up -scroll-">Операторные и серверные комнаты</li>
          <li class="anim anim--up -scroll-">Аудитории и лаборатории</li>
          <li class="anim anim--up -scroll-">Торговый ритейл и рестораны</li>
        </ul>
        <button class="btn btn--primary btn--lg btn--fill w-max anim anim--up -scroll- -waved-" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.php">Подробнее</button>
      </div>
    </div>
  </div>
</section>

<!-- Сервис -->

<section class="service container overflow-hidden">
  <h2 class="font-alt text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-2 anim anim--up -scroll-">ПРОЗРАЧНАЯ СИСТЕМА ЦЕН</h2>
  <h3 class="text text--center text-16 text-sm-14 lh-1 mb-10 anim anim--up -scroll-">Узнайте, из чего складывается цена системы</h3>
  <div class="service__card card overflow-visible p-6 p-lg-10 p-sm-5 mx-auto">
    <div class="service__content card-content flex-row justify-between gap-10 gap-md-5 relative bg-grey brs-6 py-2 pl-2 pr-10 py-lg-5 pl-lg-5 pr-lg-5">
      <div class="service__bg pic pic--segment d-md-none absolute pointer-none w-100 duration-7 anim anim--right -scroll-">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader" />
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/service-bg.webp" type="image/webp">
          <img class="pic__img pic__img--sd" src="img/pictures/service-bg.png" alt="" loading="lazy">
        </picture>
      </div>
      <div class="service__price flex flex-column bg-green relative brs-6 pt-5 pb-10 px-5 w-100 h-max duration-5 anim anim--down -scroll-" data-theme="light">
        <svg class="icon text-28 color-cream mb-6 mb-md-4">
          <use xlink:href="img/icons.svg#grid" />
        </svg>
        <p class="text-16 color-white lh-3 mb-6 mb-md-4">Цена системы фальшпола «под ключ» на 100 м2</p>
        <p class="text-28 text-sm-22 bold-7 color-cream">250 000 ₽</p>
      </div>
      <div class="flex flex-column relative p-10 p-lg-0">
        <h4 class="font-alt text-28 text-sm-18 bold-6 lh-2 mb-10 mb-md-5 anim anim--up -scroll-">Цена системы <br class="d-md-none"> складывается из:</h4>
        <ul class="flex flex-column gap-5">
          <li class="flex align-center bd-bottom pb-5 anim anim--up -scroll-">
            <svg class="icon text-22 text-sm-18 color-second fade-80 mr-4 mr-sm-2">
              <use xlink:href="img/icons.svg#layers" />
            </svg>
            <span class="text-16 text-sm-14 lh-2">Панель <b>от 100 ₽ / шт</b></span>
          </li>
          <li class="flex align-center bd-bottom pb-5 anim anim--up -scroll-">
            <svg class="icon text-22 text-sm-18 color-second fade-80 mr-4 mr-sm-2">
              <use xlink:href="img/icons.svg#rack" />
            </svg>
            <span class="text-16 text-sm-14 lh-2">Стойка <b>от 100 ₽ / шт</b></span>
          </li>
          <li class="flex align-center bd-bottom pb-5 anim anim--up -scroll-">
            <svg class="icon text-22 text-sm-18 color-second fade-80 mr-4 mr-sm-2">
              <use xlink:href="img/icons.svg#settings" />
            </svg>
            <span class="text-16 text-sm-14 lh-2">Комлектующие <b>от 100 ₽ / м<sup>2</sup></b></span>
          </li>
          <li class="flex align-center anim anim--up -scroll-">
            <svg class="icon text-22 text-sm-18 color-second fade-80 mr-4 mr-sm-2">
              <use xlink:href="img/icons.svg#square" />
            </svg>
            <span class="text-16 text-sm-14 lh-2">Работы <b>от 300 ₽ / м<sup>2</sup></b></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Подход -->

<% var approach = [
  {
    delay: '',
    icon: 'protractor',
    number: '1',
    list: ['Бесплатный выезд на объект', 'Замеры объекта', 'Обследование объекта']
  },
  {
    delay: 'delay-2',
    icon: 'doc',
    number: '2',
    list: ['Составление проекта', 'Раскладка панелей', 'Расчет необходимого комплекта материалов', 'Подписание договора']
  },
  {
    delay: 'delay-4',
    icon: 'square',
    number: '3',
    list: ['Выполнение подготовительных работ', 'Запуск материалов в производство']
  },
  {
    delay: 'delay-6',
    icon: 'tools',
    number: '4',
    list: ['Доставка материала в оговоренные сроки', 'Монтаж', 'Предоставление гарантии', 'Сервисное обслуживание']
  }
] %>

<section class="approach container container--mx bg-primary glass-bg relative mb-5" id="approach" data-theme="light">
  <div class="bg-block brs-6">
    <div class="pic pic--rect fade-40 h-100">
      <picture>
        <source srcset="img/pictures/glass-bg.webp" type="image/webp">
        <img class="pic__img" src="img/pictures/glass-bg.png" alt="" loading="lazy">
      </picture>
    </div>
  </div>
  <div class="relative">
    <h2 class="font-alt color-white text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-2 anim anim--up -scroll-">НАШ ПРОФЕССИОНАЛЬНЫЙ ПОДХОД</h2>
    <h3 class="color-white text text--center text-16 text-sm-14 lh-1 mb-10 anim anim--up -scroll-">Узнайте, сколько стоит нужная вам услуга</h3>
    <div class="grid gap-10 gap-sm-5">
      <% for (var i = 0; i < approach.length; i++) { %>
        <div class="col-3 col-lg-6 col-sm-12 card bg-white pt-8 pb-10 px-5 pt-sm-7 pb-sm-7 px-sm-5 ease-in <%= approach[i].delay %> anim anim--up -scroll- -waved-">
          <div class="flex align-center font-alt text-28 text-sm-22 mb-6 mb-md-4">
            <svg class="icon color-second mr-3">
              <use xlink:href="img/icons.svg#<%= approach[i].icon %>" />
            </svg>
            <span class="color-black bold-6"><%= approach[i].number %> этап</span>
          </div>
          <ul class="listing gap-3">
            <% for (var j = 0; j < approach[i].list.length; j++) { %>
              <li class="color-second">
                <span class="color-black text-14 lh-5"><%= approach[i].list[j] %></span>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Материалы -->

<% var materials = [
  {
    img: '1',
    title: 'Панель из высокоплотного ДСП <span class="bold-7">Zelberg Wood</span>',
    price: '1 400',
    text: 'Основа несущей плиты представляет собой специальный спрессованный древесно стружечный материал высокой плотности (650 - 720 кг/м<sup>3</sup>) с добавлением гиброфобизаторов'
  },
  {
    item: 'delay-2',
    img: '2',
    title: 'Панель из сульфата кальция  <span class="bold-7">Zelberg Wood</span>',
    price: '1 400',
    text: 'Панели выполнены из негорючего материала CaSO4 – сульфат кальция, усиленного целлюлозой. Панели выполняются и в одиночном (разъёмном) варианте, так и неразъёмной системой'
  },
  {
    item: 'delay-4',
    img: '3',
    title: 'Панель из металла <span class="bold-7">Zelberg Wood</span>',
    price: '2 000',
    text: 'Два варианта: перфорированный и цельнометаллический. Перфорация позволяет вентилировать подпольное пространство и создавать потоки воздуха для вентиляции и кондиционирования помещений '
  },
  {
    item: 'd-sm-none -listing-item-',
    img: '4',
    title: 'Панель из композитных решеток <span class="bold-7">Zelberg Wood</span>',
    price: '3 000',
    text: 'Обладают легкостью конструктивного материала, хорошей коррозийной и технической стойкостью, высокой деформационной стойкостью и механическими электроизоляционными характеристиками'
  },
  {
    item: 'delay-2 d-sm-none -listing-item-',
    img: '5',
    title: 'Панель из керамогранита <span class="bold-7">Zelberg Wood</span>',
    price: '3 000',
    text: 'Панели 600*600 мм толщиной 20 мм. Высокая несущая способность, широкий выбор дизайна, неограниченная область применения'
  },
  {
    item: 'delay-4 d-sm-none -listing-item-',
    img: '6',
    title: 'Стеклянная панель <span class="bold-7">Zelberg Wood</span>',
    price: '15 000',
    text: 'Одно из универсальных решений, которое поможет воплотить даже самые смелые идеи в реальность. Панели обладают рядом преимуществ: светопрозрачность, износостойкость и высокие точечные нагрузки'
  }
] %>

<section class="materials container container--mx bg-white -listing-" id="materials">
  <h2 class="font-alt text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-2 anim anim--up -scroll-">МАТЕРИАЛЫ ДЛЯ ПАНЕЛЕЙ</h2>
  <h3 class="text text--center text-16 text-sm-14 lh-1 mb-10 anim anim--up -scroll-">Посмотрите, что о нас говорят наши клиенты</h3>
  <div class="grid gap-6">
    <% for (var i = 0; i < materials.length; i++) { %>
      <div class="col-4 col-lg-6 col-sm-12 card link-wrapper bg-white pointer p-2 ease-in-out anim anim--up -scroll- <% if (materials[i].item) { %> <%= materials[i].item %> <% } %> -waved-" data-theme="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.php">
        <div class="pic pic--rect bg-grey brs-6">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader" />
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/material-<%= materials[i].img %>.webp" type="image/webp">
            <img class="pic__img" src="img/pictures/material-<%= materials[i].img %>.jpg" alt="" loading="lazy">
          </picture>
        </div>
        <div class="card-content color-black px-4 pb-6">
          <h4 class="link text-18 bold-5 lh-4 mb-2"><%= materials[i].title %></h4>
          <p class="font-alt color-second text-28 text-md-22 bold-6 mb-4">от <%= materials[i].price %> ₽/м<sup>2</sup></p>
          <p class="text-16 text-md-14 bold-4 lh-4 fade-80 mb-4"><%= materials[i].text %></p>
          <button class="btn btn--primary btn--lg btn--contur mt-auto w-max">Подробнее</button>
        </div>
      </div>
    <% } %>
  </div>
  <button class="btn btn--second btn--lg btn--contur d-none d-sm-flex mt-10 mx-auto -waved- -listing-btn-">Показать ещё</button>
</section>

<!-- Продукция -->

<% var products = [
  {
    anim: 'right',
    img: '1',
    title: 'Стойки',
    text: 'Изготовлены из гальванизированной стали с диаметрами трубок от М12 до М30. Регулируемый диапазон высот от 18 мм до 2-х метров.'
  },
  {
    anim: 'left',
    img: '2',
    title: 'Стрингеры',
    text: 'Имеют вид П- или замкнутого прямоугольного профиля. Придают системе дополнительную горизонтальную прочность. Их установка обязательна при высоте от 500мм.'
  },
  {
    anim: 'right',
    img: '3',
    title: 'С-Профиль',
    text: 'Усиливающий стингер для улучшения несущей способности фальшпола и придания ему горизонтальной стабильности.'
  },
  {
    anim: 'left',
    img: '4',
    title: 'Аксессуары',
    text: 'К вашему вниманию предлагается широкий выбор аксессуаров для обслуживания фальшпола, а также специальные съемники для доступа к коммуникациям.'
  },
  {
    anim: 'left',
    anim: 'right',
    img: '5',
    title: 'Ковровые покрытия',
    text: 'Одно из лучших решений в оформлении пола. Выпускается размером 50*50 см. Высота ворса от 4 до 20 мм. Не боится влаги и высоких температур.'
  },
  {
    anim: 'left',
    img: '6',
    title: 'ПВХ покрытия и натуральный линолеум',
    text: 'Плитка ПВХ обладает антистатическим эффектом. Легко укладывается, не склонно к скольжению, устойчива к механическим повреждениям.'
  },
  {
    anim: 'right',
    img: '7',
    title: 'Ламинат',
    text: 'Весьма популярное напольное покрытие в виде ламината используется и для финишной отделки панелей фальшпола'
  },
  {
    anim: 'left',
    img: '8',
    title: 'Керамогранит',
    text: 'Среди современных материалов, которые используются для облицовки фальшполов, керамогранит выделяется рядом преимуществ'
  }
] %>

<section class="products container overflow-hidden pb-0" id="accessories">
  <h2 class="font-alt text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-2 anim anim--up -scroll-">КОМПЛЕКТУЮЩИЕ</h2>
  <h3 class="text text--center text-16 text-sm-14 lh-1 mb-10 anim anim--up -scroll-">Для каждого заказа мы готовы подобрать индивидуальный набор комплектующих</h3>
  <div class="grid gap-9 gap-md-5">
    <% for (var i = 0; i < 4; i++) { %>
      <div class="col-6 col-lg-12 card ease-out duration-4 anim anim--<%= products[i].anim %> -scroll- py-4 px-4 py-md-8 px-md-5 -waved-">
        <div class="products__content card-content flex-row align-center gap-8 gap-md-4">
          <div class="products__pic pic pic--square bg-grey brs-2">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader" />
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/product-<%= products[i].img %>.webp" type="image/webp">
              <img class="pic__img" src="img/pictures/product-<%= products[i].img %>.jpg" alt="" loading="lazy">
            </picture>
          </div>
          <div class="products__info flex flex-column pr-5 pr-md-0">
            <h4 class="font-alt text-22 bold-6 lh-3 mb-2"><%= products[i].title %></h4>
            <p class="text-14 bold-4 lh-4 fade-80"><%= products[i].text %></p>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section>

<!-- Продукция -->

<section class="products container overflow-hidden" id="coatings">
  <h2 class="font-alt text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-2 anim anim--up -scroll-">ФИНИШНЫЕ ПОКРЫТИЯ</h2>
  <h3 class="text text--center text-16 text-sm-14 lh-1 mb-10 anim anim--up -scroll-">Вы можете ознакомиться с полным списком фальшпола с покрытием</h3>
  <div class="grid gap-9 gap-md-5">
    <% for (var i = 4; i < products.length; i++) { %>
      <div class="col-6 col-lg-12 card ease-out duration-4 anim anim--<%= products[i].anim %> -scroll- py-4 px-4 py-md-8 px-md-5 -waved-">
        <div class="products__content card-content flex-row align-center gap-8 gap-md-4">
          <div class="products__pic pic pic--square bg-grey brs-2">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader" />
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/product-<%= products[i].img %>.webp" type="image/webp">
              <img class="pic__img" src="img/pictures/product-<%= products[i].img %>.jpg" alt="" loading="lazy">
            </picture>
          </div>
          <div class="products__info flex flex-column pr-5 pr-md-0">
            <h4 class="font-alt text-22 bold-6 lh-3 mb-2"><%= products[i].title %></h4>
            <p class="text-14 bold-4 lh-4 fade-80"><%= products[i].text %></p>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section>

<!-- Рассчет -->

<section class="calculation container container--mx bg-primary glass-bg relative" data-theme="light">
  <div class="bg-block brs-6">
    <div class="pic pic--rect fade-40 h-100">
      <picture>
        <source srcset="img/pictures/glass-bg.webp" type="image/webp">
        <img class="pic__img" src="img/pictures/glass-bg.png" alt="" loading="lazy">
      </picture>
    </div>
  </div>
  <div class="relative overflow-hidden">
    <h2 class="font-alt color-white text text--center text--uppercase text-38 text-sm-26 bold-6 lh-5 mb-8 anim anim--up -scroll-">РАССЧИТАЙТЕ СТОИМОСТЬ РАБОТ</h2>
    <div class="grid gap-6 gap-sm-3 mb-6">
      <div class="calculation__item col-6 col-lg-12 flex align-center justify-between gap-5 color-white brs-3 py-4 px-6 anim anim--right -scroll-">
        <p class="text-16 text-sm-14 bold-4 lh-2">
          Выводим <span class="bold-6">итоговую стоимость</span> на экране <br class="d-md-none">
          при заполнении формы калькулятора
        </p>
        <svg class="icon text-32 text-sm-26">
          <use xlink:href="img/icons.svg#pc" />
        </svg>
      </div>
      <div class="calculation__item col-6 col-lg-12 flex align-center justify-between gap-5 color-white brs-3 py-4 px-6 anim anim--left -scroll-">
        <p class="text-16 text-sm-14 bold-4 lh-2">
          Высылаем подробное <span class="bold-6">Коммерческое <br class="d-md-none">
          предложение</span> на электронную почту
        </p>
        <svg class="icon text-32 text-sm-26">
          <use xlink:href="img/icons.svg#direct" />
        </svg>
      </div>
    </div>
    <div class="card bg-white p-2">
      <div class="card-content flex-row justify-between anim anim--fade -scroll-">
        <form class="calculation__form color-black w-100 p-8 p-md-4 -form-submit- -form-calc-">
          <input type="hidden" value="Калькулятор" name="theme">
          <input type="hidden" value="Результат" name="result">
          <div class="grid gap-6 gap-md-4 mb-6">
            <label class="col-6 col-md-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span>Площадь, м<sup>2</sup></span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input -input-number- -validate-input-" type="text" name="square">
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, укажите площадь!</span>
              </div>
            </label>
            <label class="col-6 col-md-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span>Высота пола, мм.</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input -input-height- -input-number- -validate-input-" type="text" maxlength="5" name="height">
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, укажите высоту!</span>
              </div>
            </label>
            <label class="col-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span>Тип системы</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <select class="input pr-10 -input-select- -validate-input-" name="system">
                    <option value="1" selected>Неразъемный</option>
                    <option value="2">Разъемный</option>
                  </select>
                </div>
                <div class="form-icon form-icon--right text-16">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#arrow-bottom">
                  </svg>
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, выберите вариант!</span>
              </div>
            </label>
            <label class="col-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span>Панель</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <select class="input text-14 text-md-12 pr-10 -input-select- -validate-input-" name="panel">
                    <option value="20" selected>Панель фальшпола W38Al/Al из ДСП 38 мм.  фольга сверху и снизу</option>
                    <option value="24">Панель фальшпола W38Al/PVC из ДСП 38 мм. фольга снизу и специальный ПВХ "PRO series"</option>
                    <option value="145">Панель фальшпола S30St/Ceram из сульфата кальция 30 мм. покрытие - керамогранит, основание - сталь</option>
                    <option value="151">Панель фальшпола S30St/PVC из сульфата кальция 30 мм. покрытие - антистатический ПВХ, основание - сталь</option>
                  </select>
                </div>
                <div class="form-icon form-icon--right text-16">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#arrow-bottom">
                  </svg>
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, выберите вариант!</span>
              </div>
            </label>
            <label class="col-6 col-md-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span> Ваше имя</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input -input-name- -validate-input-" type="text" name="name">
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, введите ваше имя!</span>
              </div>
            </label>
            <label class="col-6 col-md-12 form-label -validate-">
              <span class="text-14 bold-5 mb-2"><span class="color-red">*</span> Контактный телефон</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input -input-tel- -validate-input-" type="tel" placeholder="+7" name="tel">
                </div>
                <span class="form-error anim anim--fade -validate-error-">Пожалуйста, введите ваш номер</span>
              </div>
            </label>
            <label class="col-6 col-md-12 form-label">
              <span class="text-14 bold-5 mb-2">Электронная почта</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input" type="email" name="email">
                </div>
              </div>
            </label>
            <label class="col-6 col-md-12 form-label">
              <span class="text-14 bold-5 mb-2">Ваши реквизиты (при наличии)</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input" type="text" name="requisites">
                </div>
              </div>
            </label>
            <button class="col-6 col-md-12 btn btn--second btn--lg btn--fill -waved-" type="submit">Рассчитать стоимость</button>
          </div>
          <div class="link text-12 text-md-12 bold-6 lh-3" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Нажимая кнопку Вы соглашаетесь <span class="color-primary">с условиями хранения персональных данных</span>
          </div>
        </form>
        <div class="calculation__pic pic pic--square d-lg-none w-100">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader" />
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/calculation-img.webp" type="image/webp">
            <img class="pic__img pic__img--rise" src="img/pictures/calculation-img.jpg" alt="" loading="lazy">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>